<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<p yuansuju:replace="yuansuju">123</p>
<p yuansuju:text="yuansuju">123</p>
<p th:text="${#moneyUtil.autoDouble(10000010)}">123</p>
<script th:src="@{/js/test.js}" type="text/javascript"></script>
<script th:src="@{/test.js}" type="text/javascript"></script>
[[${urls}]]
<!--/*@thymesVar id="urls" type="org.springframework.web.servlet.resource.ResourceUrlProvider"*/-->
<script th:src="${urls.getForLookupPath('/test.js')}" type="text/javascript"></script>
<script th:src="${urls.getForRequestUrl(#httpServletRequest,'/test.js')}" type="text/javascript"></script>
</body>
</html>