<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <style>
        th,td{
            font-size: 2rem;
            height: 2rem;
            line-height: 4rem;
        }
        th{
            text-align: right;
        }
        td{
            text-align: left;
        }
        .oneLine{
            text-align: center;
        }
    </style>
</head>
<body>
<table width="100%" align="center">
    <tr style="color: green;">
        <th>我的</th>
        <td>亲戚</td>
    </tr>
    <tr>
        <th colspan="2" class="oneLine">关系(舅舅的女儿)</th>
    </tr>
    <tr>
        <th  colspan="2" class="oneLine"><img src="/img/girl.jpg" alt="头像"></th>
    </tr>
    <tr>
        <th  colspan="2" class="oneLine">姓名</th>
    </tr>
    <tr>
        <th  colspan="2" class="oneLine">地址</th>
    </tr>
    <tr>
        <th>ico</th>
        <td>电话</td>
    </tr>
    <tr>
        <th>ico</th>
        <td>生日</td>
    </tr>
</table>
</body>
</html>