<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家族圈</title>
</head>
<body>
<div>我的身份信息 <a href="javascript:;">点击编辑</a><img src="/img/boy.jpg" alt="头像"></div>
<div>搜索</div>
<div>
    <span>我加入的家族圈</span>
    <div class="jiazu_quan">
        <div class="jiazu_name">杨氏</div>
        <div class="jiazu_quan_cun">五宝鹞子村</div>
        <div><div class="jiazu_quan_create">杨继</div>创<span></span><div class="jiazu_quan_members">60</div>人</div>
    </div>
    <div>
        loading
    </div>
</div>
<div class="bottom">创建家族圈</div>
</body>
</html>