<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XX家族圈</title>
</head>
<body>
<div class="searcInput"><input type="text" placeholder="搜索"/></div>
<div>单击人物可以进入该人物视角/个人信息</div>
<div class="navigation">
    <div class="pushu">谱书</div>
    <div class="mingche">名册</div>
</div>
<div class="zibei">字辈</div>
<div>
    <span class="appellation">兄妹</span>
    <div class="levelLine"></div>
</div>
<div>
    <span class="appellation">子女</span>
    <div class="verticalLine"></div>
</div>

<div class="navigation">
    <div class="husband">谱书</div>
    <div class="wife">名册</div>
</div>


</body>
</html>